<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Natty Champ</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
<div class="homebox">
<h1>NATTY CHAMP</h1>
<img src="/images/Logo1.png" height="300px" width="600">
<h2>Welcome to the Natty Champ web app!</h2>
<ul>
<!--    <a href="/teams"><input type="button" value="College Team" ></a>-->
    <button type="button" ><a href="/college">College Team</a></button>
    <button type="button" ><a href="/weights">Weight class</a></button>

    <button type="button" ><a href="">Nattys</a></button>
    <button type="button" ><a href="">Year</a></button>
    <button type="button" ><a href="">Name</a></button>
</ul>
</div>


</body>
</html>